<%= simple_form_for @car do |f| %>

  <p><%= f.input :brand, label: 'Marca' %></p>
  <p><%= f.input :name, label: 'Modelo' %></p>
  <p><%= f.input :version, label: 'Versão' %></p>
  <p><%= f.input :yearmodel, label: 'Ano/Modelo' %></p>
  <p><%= f.input :tankvol, label: 'Volume do Tanque' %></p>

<p><%= f.button :submit, botao %></p>

<% end %>
