<%= simple_form_for @car, html: { class: 'form-horizontal' } do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
      <div class="panel-body">
      <%= f.input :brand, label: 'Marca' %>
      <%= f.input :name, label: 'Modelo' %>
      <%= f.input :version, label: 'Versão' %>
      <%= f.input :yearmodel, label: 'Ano/Modelo' %>
      <%= f.input :tankvol, label: 'Volume do Tanque' %>
    </div>
  </div>
</div>

<nav>
  <%= f.button :submit, botao, class: 'btn btn-default' %>
  <%= link_to 'Voltar', cars_path, class: 'btn btn-default' %>
</nav>


<% end %>
