<h1><%= @car.brand %> <%= @car.name %></h1>

  <label><strong>Versão: </strong></label><%= @car.version %>
  <p><label><strong>Ano/Modelo: </strong></label><%= @car.yearmodel %></p>
  <label><strong>Tanque: </strong><%= @car.tankvol %> litros</label>

<p><%= link_to 'Editar', edit_car_path %></p>
<p><%= link_to 'Voltar', cars_path %></p>
